<h2>Requests you have made:</h2>
<ul>
  <% @made_requests.each do |request| %>
    <li>
       <p> Booking: <%= request.space.name %> on <%= request.date %> </p>
        Status: <%= request.status.status%>
    </li>
  <% end %>
</ul>

<h2>Requests you have received:</h2>
<ul>
  <% @received_requests.each do |request| %>
    <li>
       <p> Booking: <%= request.name %> on <%= request.date.strftime('%d-%m-%Y') %></p>
        
    </li>
  <% end %>
</ul>

<%# on <%= request.date %> </p>
        <%# Status: <%= request.status.status%> %> %>
        <%# <p>Status: <%=request.status.status%> %>